<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章信息展示</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<body>
    <div class="wrap">
        <ul class="news-list">
            <li class="news">
                <a href="javascript:;">
                    <img src="http://d.ifengimg.com/w144_h80_q70/x0.ifengimg.com/ucms/2019_43/5A9F539CB1257FFF257E6453BA6EE4AA3253A774_w750_h376.jpg" alt="">
                </a>
                <div>
                    <h3>
                        <a href="javascript:;">江苏一电镀园区出现黄烟 官方初判为“硝酸雾”0</a>
                    </h3>
                    <div class="info">
                        <span class="tips"><span>新京报</span></span>
                        <!-- <span class="line"></span> -->
                        <span class="time">| &nbsp;&nbsp;今天 19:56</span>
                    </div>
                </div>
            </li>

            <li class="news">
                <a href="javascript:;">
                    <img src="http://d.ifengimg.com/w144_h80_q70/x0.ifengimg.com/ucms/2019_43/5A9F539CB1257FFF257E6453BA6EE4AA3253A774_w750_h376.jpg" alt="">
                </a>
                <div>
                    <h3>
                        <a href="javascript:;">江苏一电镀园区出现黄烟 官方初判为“硝酸雾”0</a>
                    </h3>
                    <div class="info">
                        <span class="tips"><span>新京报</span></span>
                        <!-- <span class="line"></span> -->
                        <span class="time">| &nbsp;&nbsp;今天 19:56</span>
                    </div>
                </div>
            </li>

            <li class="news">
                <a href="javascript:;">
                    <img src="http://d.ifengimg.com/w144_h80_q70/x0.ifengimg.com/ucms/2019_43/7B12B15AC7B60D3F82591C4793AB9D8B02E3BE6C_w564_h291.png" alt="">
                </a>
                <div>
                    <h3>
                        <a href="javascript:;">判了！山西涉黑前首富获刑25年0</a>
                    </h3>
                    <div class="info">
                        <span class="tips"><span>长安街知事</span></span>
                        <!-- <span class="line"></span> -->
                        <span class="time">| &nbsp;&nbsp;今天 19:56</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="pagination">
            <a href="javascript:;" class="prev">⌜</a>
            <a href="javascript:;">1</a>
            <a href="javascript:;">2</a>
            <a href="javascript:;">3</a>
            <a href="javascript:;">4</a>
            <a href="javascript:;">5</a>
            <a href="javascript:;" class="next">⌝</a>
        </div>
    </div>

</body>

</html>