<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style.
            .mydiv{
                width: 200px;
                height: 200px;
                background: red;
            }
    body
        h1 我是标题
        div 我是div
        div(class="mydiv") 我是类名 mydiv
        .mydiv(style={width:"100px",height:"100px",background:"blue"}) 我是div2