ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h2 {
  margin: 0;
}
#wrap {
  margin: 30px auto;
  width: 382px;
  padding: 5px;
  position: relative;
  border: 1px solid #000;
  background: #eee;
  border-radius: 10px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#51b8fb), to(#fd726d));
}
.title {
  font: bold 18px/40px "宋体";
  text-align: center;
  border-bottom: 1px solid #000;
}
#list {
  padding-left: 2px;
}
#list li {
  opacity: 0.8;
  font: 14px/36px "宋体";
  border-bottom: 1px solid #000;
}
#list li:hover {
  opacity: 1;
}
#list label input {
  margin: 0 20px 0 30px;
}
input[type="chekbox"] {
  width: 20px;
  height: 20px;
}
.footer {
  font: 16px/36px "宋体";
}
#newInfo{
  height: 20px;
  padding: 0 6px;
  border-radius: 5px;
  border: 1px solid #656565;
}
.addBorder{
  border-top: 1px solid #000;
  padding-left: 6px;
}
